.content {
  margin-top: calc( 6vh + 5px);
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-bottom-line {
  width: 95%;
  margin-top: 0;
  margin-bottom: 0;
}
.sticky-add-btn {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 85vh;
  padding-right: 5%;
  height: 0;
  display: flex;
  justify-content: flex-end;
}
