.header {
  height: 10vh;
  width: 100vw;
  background-color: #e20074;
  /* opacity: 0.8; */
  position: fixed;
  top: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 5px #aaa;
}
.title {
  font-family: 'Gugi', cursive;
  font-size: 20px;
  color: #fff;
}
